* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* lOGIN */

.login-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4da8cf;
}

.login {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000af;
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.185);
}

.login-container{
    background-color: #fff;
}

.image-login{
    padding: 30px;
}

.form-box > input{
    margin: 10px;
    padding: 7px;
    display: flex;
    flex-direction: column;
}

.form-box > input:hover{
    cursor: pointer;
    background-color: #0000004b;
}

.login-btn{
    width: 100px;
    padding: 10px;
    margin: 20px;
    background-color: #4da8cf;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.login-btn:hover{
    background-color: #00b3ff;
}

/* HOME PAGE */

.home-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(235, 235, 235);
}

.lateral-bar{
    min-width: 300px;
    border-right: 1px solid black;
    background-color: #4da8cf;
}

.lateral-bar > nav > ul{
    margin: 40px;
    font-size: 25px;
    text-transform: uppercase;
    list-style: none;
}

.lateral-bar > nav > ul > li{
    padding: 15px 0px;
   
}

.lateral-bar > nav > ul > li:hover{
    cursor: pointer;
    background-color: #00b3ff;
    border-radius: 10px;
}

.background{
    width: 77vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.background > p {
    font-size: 6rem;
    font-weight: bold;
    color: #090909;
}

/* PRODUTOS */


.background-produtos{
    width: 100vw;
    padding-left: 30px;
    background-color: #c3e3fd;
    display: none;
}

.title-produtos{
    border-bottom: 1px solid #000;
    font-weight: bold;
    font-size: 25px;
}

.options-menu{
    margin-top: 50px;
    width:700px;
    display: flex;
    justify-content: space-between;
}


.edit-btn{
    margin-left:10px;
    padding: 5px 25px;
    border: none;
    background-color: #4da8cf;
    box-shadow: 5px 5px 5px #00000044;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.edit-btn:hover{
    background-color: #00b3ff;
}

.table{
    width: 95%;
    height: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    background-color: rgb(235, 235, 235);
}

.boxItens{
    display: flex;
    flex-direction: column;
}

.boxItens > div {
        display: flex;
    }
   
.boxItens div:hover{
    background-color: rgba(8, 192, 238, 0.493)
    }

.title-line{
    display: flex;
}

.code{
    border: 1px solid black;
    width: 10%;
    text-align: center;
}

.name{
    border: 1px solid black;
    width: 40%;
    text-align: center;
}

.type{
    border: 1px solid black;
    width: 20%;
    text-align: center;
}

.amount{
    border: 1px solid black;
    width: 10%;
    text-align: center;
}

.alterar{
    border: 1px solid black;
    width: 10%;
    text-align: center;
    cursor: pointer;
    background-color: rgba(8, 192, 238, 0.493);
}

.alterar:hover{
    background-color: rgb(8, 192, 238);
}

.deletar{
    border: 1px solid black;
    width: 10%;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.493);
}

.deletar:hover{
    background-color: rgb(255, 0, 0);
}

.alterar-off, .deletar-off{
    border: 1px solid black;
    width: 10%;
    text-align: center;
    background-color: rgb(235, 235, 235);
}

/* MOVIMENTACAO */

.background-movimentacao{
    width: 100vw;
    padding-left: 30px;
    display: none;
    background-color: #c3e3fd;
}

.background-movimentacao > .table > .title-line > .name ,#tableMov > div > .name {
    width: 30%;
}

.date{
    border: 1px solid black;
    width: 20%;
    text-align: center;
}


/*INCLUIR PRODUTOS*/


.incluir-display{
    display: none;
    position: absolute;
    border: 1px solid #000;
}


.incluir{
    width: 300px;
    height: 250px;
    background-color: #c3e3fd;   
}

.incluir-produtos > span{
    font-weight: bold;
    padding: 10px;
}

.inputs-incluir{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.input-box{
    display: flex;
    flex-direction: column;
}

.incluir-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.-btn{
    width: 100px;
    margin: 10px;
    padding: 8px 0px;
    background-color: #4da8cf;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.-btn:hover{
    background-color: #00b3ff;
}


/* RELATORIOS */

.background-relatorio{  
    display: none;
}

.relatorio{
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.relatorio-title{
    align-self: center;
    padding: 8px;
    font-size: 20px;
    font-weight: 600;
}

.relatorio-box{
    width: 95%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #000;
    background-color: #c3e3fd; 
}

.relatorio-menu{
    width: 100%;
    height: 100%;
    display: flex;
    border-top: 1px solid #000;
}

.left-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tipoBtn{
    margin: 15px 20px;
    width: 150px;
    height: 40px;
    padding: 10px;
    box-shadow: 0px 5px 5px #00000038;
    border: none;
    background-color: #4da8cf;
    cursor: pointer;
}

.tipoBtn:hover{
    background-color: #00b3ff;
}

.tabelaRelBackground{
    width: 70vw;
    height: 90vh;
    margin-left: 30px;
}

.tabelaRelatorio{
    width: 95%;
    height: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    background-color: rgb(235, 235, 235);
}

.tabelaRelatorio > div {
    display: flex;
}

.tabelaRelatorio > div > .name {
    width: 60%;
}
/* DISPLAY CONTROLLER */


.incluirAct{
    display: block;
}


.section-display{
    display: none;
}

.tabelaRelBackground{
    display: none;
}

.activeHome{
    display: block;
}
.active{
    display: block;
}

.desactive{
    display: none;
}